.borrow{
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #05D39B;
    -fx-text-fill: #05D39B;
}
.side:hover{
    -fx-background-color: #F2FEFA;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #05D39B; 
    -fx-text-fill: #05D39B;
    -fx-font-weight: bold;
    -fx-font-size:15px;
}
.side{
    -fx-background-color: #F2FEFA;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #BABABA;
    -fx-font-weight: bold;
    -fx-font-size:15px;
}
